
TestResults/
packages/
obj/
bin/
Bin/
Obj/
.svn/
.idea/
debug/
release/
_ReSharper.*
*.csproj.user
*.user
*.suo
*.orig
*.cache
*.vs10x
*~
*.swp
*-log.txt*
.DS_Store
~$*.*
*web.log*
*.log
*.bak
*.vs10x
*Thumbs.db
.metadata/
.preprocessed/
.settings/
*.BASE
*.REMOTE
*.LOCAL
*.orig